<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card card-profile">

                    <div class="card-body">
                        <img src="{{urlFoto}}/{{produtoSelecionado.pathFoto}}" class=img width="200px" height="200px">
                        <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                        <h4 class="card-title">{{produtoSelecionado.nome}}</h4>
                        <p class="card-description">
                            {{produtoSelecionado.valorUnitario}}
                        </p>
                        <a
                            href="https://api.whatsapp.com/send?text=https://delicata-frontend.herokuapp.com/#/dashboard"><img
                                src="/assets/img/bc-whats.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>